*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* CLASSI HEADER*/
header{
    background-image:url(../img/pattern.png);
    background-color: dodgerblue;
    height: 150px;
}

#logo{
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 60px;
    
}
/* FINE CLASSI HEADER */