 /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }  */

/* CLASSI HEADER*/
header{
    background-image:url(../img/pattern.png);
    background-color: dodgerblue;
    height: 150px;
   
}

#logo{
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 70px;
    
}
/* FINE CLASSI HEADER */
/* CLASSI MAIN */
#contenitore{
    margin-left: 5px;
    padding-left: 5px;
}
#sottotitolo-grigio{
    color: gray;
    font-size: 20px;
}
#data{
    color: gray;
    font-size: 10px;
    margin-bottom: 20px;
}

#autore{
    color: rgb(99, 99, 255);
}

.didascalia{
    font-size: 15px;
}
/* INIZIO CLASSI ARTICOLO */
p{
    padding-top: 20px;
    padding-bottom: 30px;
}
.lista{
    padding-left: 20px;
    padding-bottom: 30px;
}
/* INZIO CLASSI TABELLA */

/* FINE CLASSI MAIN */